<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718105491515-93u00dmfe86r9lv63n26p93gd3vh2tub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718105491515-93u00dmfe86r9lv63n26p93gd3vh2tub</string>
	<key>API_KEY</key>
	<string>AIzaSyC970rAWLEsrHn7h2uyCkgIvN4uOFpxzuU</string>
	<key>GCM_SENDER_ID</key>
	<string>718105491515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>imhans.Swift.Workspaces.BasicFirebaseDatabase</string>
	<key>PROJECT_ID</key>
	<string>basic-firebase-database</string>
	<key>STORAGE_BUCKET</key>
	<string>basic-firebase-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718105491515:ios:b46338c7766257cbefc41e</string>
</dict>
</plist>